body {
  font-size: 18px;
  background-color: rgb(179, 177, 177);
}

.container {
  width: 80%;
  margin: auto;
}

.student-panel {
  margin-top: 100px;
  margin-bottom: 20px;
}

#stud_btn {
  font-size: 1.1rem;
}

.student-action {
  margin-bottom: 20px;
}

.delbtn {
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.errorMsg {
  display: none;
  padding: 20px;
  background-color: red;
  color: #fff;
  margin: 20px 0;
}

#student-table {
  min-width: 60%;
  text-align: center;
}
